<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }} | Mkamla.com</title>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<meta name="description" content="{{page.description}}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="theme-color" content="#1b182d">
		<link rel="manifest" href="/manifest.json" />

		<link rel="shortcut icon" href="/images/favicon.png">
		<link rel="icon" sizes="192x192" href="/images/icon_192.png">
		<link rel="apple-touch-icon" href="/images/icon_192.png">
		{{!-- IE Tiles --}}
		<link rel="msapplication-square70x70logo" href="/images/icon_70.png">
		<link rel="msapplication-square150x150logo" href="/images/icon_150.png">
		<link rel="msapplication-square310x310logo" href="/images/icon_310.png">
		<link rel="msapplication-wide310x150logo" href="/images/icon_310x150.png">

		{{!-- Apple Menu bar--}}
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes">


		{{#if locals.showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css" />
		{{/if}}

		{{#if page.prefetch}}
		{{#each page.prefetch}}
		<link rel="prefetch" href="{{this}}" />
		{{/each}}
		{{/if}}

		{{#if dependencies.css}}
		{{#each dependencies.css}}
		<link rel="stylesheet" type="text/css" href="{{this}}" />
		{{/each}}
		{{/if}}

		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		{{#if jsGlobal}}
		<script type="text/javascript">
			{{#each jsGlobal}}
				var {{{@key}}} = {{{this}}};
			{{/each}}
		</script>
		{{/if}}

		{{#if dependencies.js}}
		{{#each dependencies.js}}
		<script type="text/javascript" src="{{this}}"></script>
		{{/each}}
		{{/if}}
	</head>
	<body>
		<nav role="navigation">
			<a href="/" class="home">
				<svg id="site_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="300" viewBox="0 0 600 300">
				<polyline fill="#FFF" points="248.102,192.822 342.188,46.232 409.969,46.232 409.969,192.821 409.969,192.822 504.055,46.232 571.384,46.232 
					466.518,208.78 555.792,298.426 460.504,298.426 428.741,266.663 429.05,266.857 408.684,298.426 342.188,298.426 342.188,150.598 
					246.817,298.426 180.322,298.426 180.321,150.597 84.951,298.426 18.456,298.426 180.322,46.232 248.102,46.232 248.102,192.822 "/>
				</svg>
			</a>
			<ul class="nav-links">
				<li>
					<a href="/" {{{activeNav page.activeNav "dashboard"}}}>
						<span class="icon">
							<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs>
									<path d="M0 0h24v24H0V0z" id="a"/>
								</defs>
								<clipPath id="b">
									<use overflow="visible" xlink:href="#a"/>
								</clipPath>
								<path clip-path="url(#b)" d="M23 8c0 1.1-.9 2-2 2-.18 0-.35-.02-.51-.07l-3.56 3.55c.05.16.07.34.07.52 0 1.1-.9 2-2 2s-2-.9-2-2c0-.18.02-.36.07-.52l-2.55-2.55c-.16.05-.34.07-.52.07s-.36-.02-.52-.07l-4.55 4.56c.05.16.07.33.07.51 0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2c.18 0 .35.02.51.07l4.56-4.55C8.02 9.36 8 9.18 8 9c0-1.1.9-2 2-2s2 .9 2 2c0 .18-.02.36-.07.52l2.55 2.55c.16-.05.34-.07.52-.07s.36.02.52.07l3.55-3.56C19.02 8.35 19 8.18 19 8c0-1.1.9-2 2-2s2 .9 2 2z"/>
							</svg>
						</span>
						<span class="title">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/log" {{{activeNav page.activeNav "log"}}}>
						<span class="icon">
							<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/>
								<path d="M0 0h24v24H0z" fill="none"/>
							</svg>
						</span>
						<span class="title">Log</span>
					</a>
				</li>
				<li>
					<a href="/whoami" {{{activeNav page.activeNav "whoami"}}}>
						<span class="icon">
							<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
								<path d="M0 0h24v24H0z" fill="none"/>
							</svg>
						</span>
						<span class="title">whoami</span>
					</a>
				</li>
				<li>
					<a href="/contact" {{{activeNav page.activeNav "contact"}}}>
						<span class="icon">
							<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
								<path d="M0 0h24v24H0z" fill="none"/>
							</svg>
						</span>
						<span class="title">Contact</span>
					</a>
				</li>
			</ul>
		</nav>

		<main class="content">
			<div class="tool-bar mod-12">
			{{#if breadcrumbs}}
				<ul class="breadcrumb">		
				{{#each breadcrumbs as |breadcrumb|}}
					{{#unless @first}}
					<li class="breadcrumbs">
						<a class="breadcrumb" href="{{breadcrumb.url}}">
							<span class="page-title">{{breadcrumb.name}}</span>
						</a>
					</li>
					{{/unless}}
				{{/each}}
				</ul>
			{{/if}}
			</div>
			{{{body}}}
		</main>			
		{{#if locals.showTests}}
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		
		<script type="text/javascript" src="/qa/globalTests.js"></script>

			{{#if pageTestScript}}
			<script type="text/javascript" src="{{pageTestScript}}"></script>
			{{/if}}

		<script type="text/javascript">
			mocha.run();
		</script>
		{{/if}}
	</body>